.contact-page {
    display: none;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    width: 50%;
    padding: 1rem;
}


.cf-input-1, .cf-input-2, .cf-send {
    border: 0;
    border-bottom: 2px solid rgba(61, 154, 235, 0.618);
    font-family: "roboto-regular";
    font-size: 16px;
    color: #f0f6fcbd;
    background-color: #212830;
    border-radius: 1rem;
    transition: border-bottom 0.3s ease;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}

.cf-input-1, .cf-send {
    height: 3rem;
}

.cf-send {
    align-self: center;
}

.cf-input-2  {
    resize: none;
    white-space: pre-wrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.cf-input-1:hover, .cf-input-2:hover {
    border-bottom: 2px solid rgba(194, 178, 29, 0.618);
}

.cf-input-1:focus, .cf-input-2:focus {
    border-bottom: 2px solid rgba(194, 178, 29, 0.618);
    outline-width: 0;
    outline: none;
}

.cf-send {
    width: 120px;
    border-bottom: 0;
    background-color: rgba(61, 154, 235, 0.618);
    font-family: "arial-rounded";
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.cf-send:hover {
    opacity: 0.9;
    transform: scale(0.9)
}

.status-cf {
    opacity: 0.7;
}

.cf-home-button {
    border: 0;
    transition: transform 0.3s ease;
}

.cf-home-button:hover {
    transform: scale(1.05);
}

@media only screen and (max-width:1025px) {
    .contact-form {
        width: 60%;
    }
}

@media only screen and (max-width:900px) {
    .contact-form {
        width: 70%;
    }
}

@media only screen and (max-width:700px) {
    .contact-form {
        width: 80%;
    }
}

@media only screen and (max-width:500px) {
    .contact-form {
        width: 90%;
    }
}

@media only screen and (max-width:400px) {
    .cf-send {
        width: 100px;
    }
}

@media only screen and (max-height:500px) {
    .contact-page {
        justify-content: start;
    }
}